/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== variaveis =====*/
:root {
  --header-height: 3rem;

  /*========== cores ==========*/
  --first-color: #DA2535;
  --first-color-alt: #C42130;
  --first-color-send: #DE3B49;
  --title-color: #161212;
  --text-color: #5B5757;
  --text-color-light: #8F8A8A;
  --body-color: #FEFBFB;
  --container-color: #FFF;
  --button-prod: #5b5757;
  --button-color: #5b5757;

  /*========== tipografia ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== fonte ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== margens ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== index ==========*/

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px){
  :root{
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*========== base ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== dark variaveis ==========*/
body.dark-theme{
  --first-color-send: #161212;
  --title-color: #F3F1F1;
  --text-color: #D1C7C8;
  --body-color: #251D1E;
  --container-color: #302728;
  --button-prod: #D1C7C8;
  --button-color: #D1C7C8;
}

.change-theme{
  position: absolute;
  right: 1.5rem;
  top: 2.2rem;
  display: flex;
  color: var(--title-color);
  font-size: 2rem;
  cursor: pointer;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== classes ==========*/
.section{
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== layout ==========*/
.l-main{
  overflow: hidden;
}

.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.progress{
  height: 15px;
  background-color: var(--container-color);
  position: relative;
  width: 70%;
  margin-bottom: 10px;
}

.progress .progress-bar{
 position: absolute;
 height: 100%;
 background-color: var(--button-color);
 animation: progress-animation 6s infinite;
 border-radius: 10px;
}


@keyframes progress-animation{
  0% { width: 0%; }
  
  100% { width: 100%}
  
}

.swal2-title {
  background-color: var(--container-color);
  color: var(--title-color);
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: justify;
  padding-bottom: 5px;
  padding: 20px;
  border-radius: 10px;
}

.swal2-popup {
  background-color: var(--container-color);
  border-radius: 10px;
  height: 0;
}

/*========== nav ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 0 0;
    text-align: center;
    background-color: var(--body-color);
    transition: .4s;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    border-radius: 2rem;
    z-index: var(--z-fixed);
  }
}

.nav__item{
  margin-bottom: var(--mb-3);
}

.nav__link, .nav__logo, .nav__toggle{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo:hover{
  color: var(--first-color);
}

.nav__link{
  transition: .3s;
}

.nav__link:hover{
  color: var(--first-color);
}

.nav__toggle{
  font-size: 1.3rem;
  cursor: pointer;
}

/* style menu */
.show-menu{
  top: calc(var(--header-height) + 1rem);
}

/* ativaçao */
.active-link{
  position: relative;
}

.active-link::before{
  content: '';
  position: absolute;
  bottom: -.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--title-color);
  border-radius: 50%;
}

/* background header */
.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

/* scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(218,37,53,.5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop:hover{
  background-color: var(--first-color);
}

.scrolltop__icon{
  font-size: 1.5rem;
  color: var(--body-color);
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}

/*========== home ==========*/
.home__container{
  row-gap: .5rem;
  text-align: center;
  margin:0 20%;
}

.homeTitle{
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-2);
}

.homeDescription{
  margin-bottom: var(--mb-3);
}

/*========== cookies ==========*/
.cookies-container {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  width: 100%;
  bottom: 2rem;
  z-index: 1000;
}

.cookies-content {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  background: white;
  max-width: 520px;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  opacity: 0;
  transform: translateY(1rem);
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
  to {
    transform: initial;
    opacity: initial;
  }
}

.cookies-pref label {
  margin-right: 1rem;
}

.cookies-save {
  grid-column: 2;
  grid-row: 1/3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--first-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .cookies-content {
    grid-template-columns: 1fr;
  }
  .cookies-save {
    grid-column: 1;
    grid-row: 3;
  }
}

/*========== botoes ==========*/
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  transition: .3s;
  margin-top: 10px;
}

.button:hover{
  background-color: var(--first-color-alt);
}

.button-link{
  background: none;
  padding: 0;
  color: var(--first-color);
}

.button-link:hover{
  background-color: transparent;
  color: var(--first-color-alt);
}

/*========== sobre ==========*/
.sobreDescription,.prodDescription{
  margin-bottom: var(--mb-2);
  text-align: justify;
}

.prodOption{
  display: inline-block;
  border: 1px solid #D1C7C8;
  outline: none;
  background-color: var(--container-color);
  color: var(--title-color);
  font-size: var(--font-semi-bold);
  border-radius: .5rem;
  transition: .3s;
  margin-top: 10px;
  height: 30px;
  width: 100%;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.prodBuy{
  display: inline-block;
  outline: none;
  background-color: var(--first-color);
  color: #fff;
  border-radius: .5rem;
  transition: .3s;
  margin-top: 10px;
  padding-top: 5px;
  height: 40px;
  width: 100%;
  text-align: center;
}

.sobreData p{
  margin-bottom: var(--mb-2);
  text-align: center;
}

.prodImg,.sobreImg{
  width: 280px;
  justify-self: center;
}

.buttonProd{
  background-color: transparent;
  color: var(--button-color);
  border: solid 1px var(--button-prod);
  margin-right: 4px;
  border-radius: 15%;
}
.buttonProd:hover{
  color: #C42130;
  border-color: #C42130;
}

/*========== calçados ==========*/
.proContainer,
.accessory__container{
  grid-template-columns: repeat(2,1fr);
  padding-bottom: 2rem;
}

.proContent{
  position: relative;
  display: grid;
  padding: .25rem .75rem .75rem;
  background-color: var(--container-color);
  box-shadow: 0 2px 6px rgba(65,11,16,.15);
  border-radius: 1rem;
}

.proContent:hover{
  box-shadow: 0 3px 12px rgba(65,11,16,.15);
}

.proImg{
  width: 110px;
  justify-self: center;
  margin-bottom: .25rem;
}

.proTitle, .proCategory{
  text-align: center;
}

.proTitle{
  font-size: var(--normal-font-size);
}

.proCategory{
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
  color: var(--text-color-light);
}

.proPreço{
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.proButton{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 1.25rem;
  padding: .5rem .625rem;
  border-radius: 1rem 0 1rem 0;
}

.pesquisa{
  background-color: #C42130;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  width: 70%;
  position: relative;
  left: 15%;
  margin: 0 5% 5% 0;
  font-size: 14px;
}

.pesquisa::placeholder {
  color: #fff;
}

::-webkit-input-placeholder{
  color: #D1C7C8;
}

/*========== contato ==========*/
.cont{
  background-color: var(--first-color-send);
  margin: 0 20%;
  border-radius: 10px;
}

.contTitle, .contDescription{
  color: #fff;
}

.contTitle{
  text-align: center;
}

.contDescription{
  text-align: center;
  margin-bottom: var(--mb-4);
}

.contDirection{
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  border-radius: .5rem;
}

.contDirection1{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: .5rem;
}

.contInput{
  width: 100%;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.contInput1{
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  outline: none;
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

.contInput, .contInput1::placeholder{
  font-family: var(--body-font);
}

.contButton{
  width: 40%;
  border: none;
  margin-left: 30%;
  margin-top: .5rem;
  background-color: #fff;
  color: var(--first-color-send);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  font-weight: var(--font-semi-bold);
  
}

.contButton:hover{
  background-color: var(--first-color-alt);
  color: #fff;
}

.input span.error {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-align:center;
  width: 40%;
  height: 1%;
  padding: 0;
  background-color:var(--first-color);
  color: #fff;
}

.input span.error.active {
  border: 1px solid;
  padding: 0.4em;
}

/*========== footer ==========*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__logo{
  color: var(--title-color);
}

.footer__title{
  margin-bottom: var(--mb-2);
}

.footer__logo, .footer__title{
  font-size: var(--h3-font-size);
}

.footer__link{
  display: inline-block;
  margin-bottom: .75rem;
  color: var(--text-color);
}

.footer__link:hover{
  color: var(--first-color);
}

.footer__social{
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-3);
}

.footer__social:hover{
  color: var(--first-color);
}

.footer__copy{
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 4rem;
}

.proCategory,.proTitle{
  text-align: center;
}

/*========== responsividade ==========*/

/* For full-screen images on small screens */
@media screen and (max-width: 359px){
  .prodImg,
  .sobreImg{
    width: 100%;
  }

  .contTitle{
    text-align: center;
  }
}

@media screen and (min-width: 576px){
  .home__container,
  .prodContainer,
  .share__container,
  .contContainer{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

  .home__container{
    padding: 5rem 0 0;
  }

  .section-title-center{
    text-align: initial;
  }

  .sobreData{
    text-align: justify;
  }

  .prodImg,
  .sobreImg{
    width: 100%;
  }
  
  .sobreImg{
    order: -1;
  }

  .proCategory,.proTitle{
    text-align: center;
  }

  .sobreData p{
    text-align: justify;
  }

  .contTitle{
    text-align: center;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .section{
    padding-top: 7rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list{
    display: flex;
    align-items: center;
  }

  .nav__item{
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle{
    display: none;
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-4);
  }

  .home__container{
    padding: 7rem 2rem 0;
  }
  .prodContainer,
  .share__container{
    padding: 0 2rem;
  }

  .proContainer{
    grid-template-columns: repeat(3,224px);
    justify-content: center;
  }

  .proContent{
    padding: .5rem 1.5rem 1.5rem;
  }
  
  .proImg{
    width: 120px;
    margin-bottom: var(--mb-1);
  }

  .proCategory,.proTitle{
    text-align: center;
  }

  .proButton{
    padding: .75rem;
  }

  .cont{
    background: none;
  }

  .contContainer{
    background-color: var(--first-color-send);
    padding: 2rem;
    border-radius: 1.5rem;
  }

  .footer__content{
    position: relative;
    left:25%;
  }
  .proCategory,.proTitle{
    text-align: center;
  }

  .sobreData p{
    text-align: justify;
  }

  .contTitle{
    text-align: center;
  }
}

@media screen and (min-width: 968px){
  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .prodImg,
  .sobreImg{
    width: 469px;
  }

  .home__container,
  .prodContainer,
  .share__container,
  .contContainer{
    column-gap: 5rem;
  }

  .contTitle{
    text-align: center;
  }

  .prodContainer{
    width: 920px;
    height: 301px;
  }

  .prodImg{
    position: relative;
    left: 20%;
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;
  }

  .proImg{
    max-width: 110px;
    max-height: 74px;
    width: auto;
    height: auto;
  }

  .proCategory,.proTitle,.contTitle{
    text-align: center;
  }

  .sobreData p{
    text-align: justify;
  }
}

