* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }

  .heading{
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: #444;
    font-size: 3rem;
    letter-spacing: .3rem;
    text-shadow: #0000;
  }

  .heading span {
    text-transform: uppercase;
    color: #2c7bfe;
  }

  .headingSecond{
    text-align: center;
    padding-bottom: 2rem;
    text-transform: uppercase;
    color: #444;
    font-size: 3rem;
    letter-spacing: .3rem;
    text-shadow: #0000;
  }

  section .about{
    height: 150vh;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }

  .card {
    width: 300px;
    height: 300px;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    transition: 0.5s;

  }

  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }

  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }

  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }

  .card:hover {
    background-position: 0 100%;
  }

  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }

  .card:hover h3 {
    color: #ffffff;
  }

  .card:hover p {
    color: #f0f0f0;
  }
  
  .heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:#2c7bfe;
}


section:nth-child(even){
  background: #f5f5f5;
}

  .butaozinho{
    color: #575a7b;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem;
    width: 100px;
    height: 40px;
    background: linear-gradient(#ffffff 45%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    transition: 0.5s;
    display: inline-block;
    text-decoration:none;
  }

  .butaozinho:hover{
    background-color: #2c7bfe;
  }

  .about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

  .eventos .row{
    
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
  }

.about .row .content p{
    color: black;
    padding:0.5rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}


  @media screen and (min-width: 1000px) {
    section {
      padding: 5em 12em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }